*{
	margin: 0; 
	padding: 0; 
	color: #585858; 
	font-family: sans-serif;
}

body{
	background-image: url(../img/patron_07.jpg);
}

header{
	background-image: url(../img/fondo_playa.jpg); 
	 
	margin: 5% 5% 0 5%;
	padding: 3%;
}

nav, section {
	margin: 0 5% 0 5%;
}

ul{

}
